services:
  postgres:
    container_name: "postgres"
    image: postgres:15
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - ./pg_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}

  redis:
    container_name: "redis"
    image: redis:7-alpine
    ports:
      - "6379:6379"
    restart: unless-stopped

  python:
    container_name: "python"
    build:
      context: .
      dockerfile: src/Dockerfile
    command: sh -c "alembic upgrade head && uvicorn src.app.main:app --host 0.0.0.0 --port 8000"
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}

  celery:
    container_name: "celery"
    build:
      context: .
      dockerfile: src/Dockerfile
    command: celery -A src.core.celery.celery_app worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}

  minio:
    container_name: "minio"
    image: minio/minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./minio_data:/data
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}